.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 10rem);
  justify-content: center;
}

.result-container {
  margin-top: 10rem;
}

@media (max-width: 480px) {
  .cards-container {
    grid-template-columns: repeat(3, 7rem);
  }
}
