.header-container {
  background-color: #c8553d;
  height: 4rem;
  padding-top: 2rem;
  border-bottom-style: solid;
}

.title {
  font-size: 2rem;
}

@media (max-width: 480px) {
  .header-container {
    height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.1rem;
  }
  .title {
    font-size: 1.5rem;
  }
}
